*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding-top: 60px;
}

 nav{
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

#logo{
    align-self: center;
}

#logo img{
    height: 30px;
    margin-left: 25px;
    align-self: center;
}



nav ul{
    align-self: center;
}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-left:  50px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #ccc;
}


.container{
    margin-right: -80px;
    margin-left: 350px;
    width: 700px;
    align-self: center;
}

.cart{
    align-self: center;
    margin-left: 20px;
    
}

.cart img{
    cursor: pointer;
}

.form{
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    height: 500px;
    width: 50%;
    margin-top: 20px;
    margin-left: 300px;
    
    
    
    
}