*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding-top: 60px;
}

 nav{
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

#logo{
    align-self: center;
}

#logo img{
    height: 30px;
    margin-left: 25px;
    align-self: center;
}



nav ul{
    align-self: center;
}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-left:  50px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #ccc;
}


.container{
    margin-right: -80px;
    margin-left: 350px;
    width: 700px;
    align-self: center;
}

.cart{
    align-self: center;
    margin-left: 20px;
    
}

.cart img{
    cursor: pointer;
}

.form{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 450px;
    width: 350px;
    margin-top: 20px;
    border-radius: 20px;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
}

input[type="username"], input[type="password"], input[type="email"]{
    width: 300px;
    height: 30px;
    margin-top: 0px;
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
    align-self: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    background-color: white;

   
}

input[type="submit"]{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    align-self: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#login{
    background-color: darkgray;
}


input, textarea{
    text-align: center;
}

.form h3{
    margin-bottom: px;
}

.form #or{
    margin-top: -35px;
}

.form h1{
    margin-bottom: 25px;
}

label .name{
    margin-top: 20px;
    margin-bottom: 20px;
}

input::placeholder{
    color: rgb(0, 0, 0);
}
